.swiper {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiperSlide {
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 100%; 
}

.swiperSlideThumb {
  background-position: center;
  background-size: cover;
  width: 20%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height:auto,
}

.mySwiper2{
  height:10vh;
  width:50vw;
}

#kolo{
  height: 100vh;
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
}
